<footer>
	<div id="footer-left">
		<a href="mailto:david.kartchner@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/david-s-kartchner"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/davidkartchner"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=di5ncfUAAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> David Kartchner
	</div>
	<div id="footer-right">
		David Kartchner is a PhD student at Georgia Tech building scalable natural language processing tools for biomedicine.
	</div>
</footer>
